<ul class="navigation">
	<li><%=link_to "全部类别", root_path%></li>
	<li><%=link_to "备份压缩", backup_path%></li>
	<li><%=link_to "磁盘管理", diskregu_path%></li>
	<li><%=link_to "磁盘维护", diskmain_path%></li>
	<li><%=link_to "设备管理", devregu_path%></li>
	<li><%=link_to "网络通讯", internet_path%></li>
	<li><%=link_to "文档编辑", edit_path%></li>
	<li><%=link_to "文件传输", trans_path%></li>
	<li><%=link_to "文件管理", fileregu_path%></li>
	<li><%=link_to "系统管理", sysregu_path%></li>
	<li><%=link_to "系统设置", sysconf_path%></li>
</ul>
