
<div class="element">
<h2>备份压缩 命令列表</h2>
	<ul class="nav-ele">
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
	</ul>
</div>

<%=render "static_pages/navigation"%>