<div class="element">
	<ul class="nav-ele">
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
		<li><%=link_to "compress", compress_path%></li>
	</ul>
</div>
