<header class=="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%=link_to "Linux 命令速查", root_path, id:"logo"%>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%=link_to"主页",  root_path%></li>
				<li><%=link_to"帮助",  help_path%></li>
				<li><%=link_to"关于",  about_path%></li>								
				<li><%=link_to"联系",  contact_path%></li>
			</ul>
		</nav>
	</div>
</header>